{% extends 'base.html.twig' %}

{% block title %}{{ form.vars.value.id ? 'Edit' : 'Add' }} Product{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            
            padding-top: 20px;
            max-width: 600px;
            margin: auto;
            background: #ffffff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }
        .form-control {
            margin-top: 10px;
            background-color: #f1f1f1;
            border: none;
            border-radius: 5px;
        }
        .form-group {
            margin-bottom: 15px;
        }
        .form-label {
            font-weight: bold;
        }
        .btn-primary {
            background-color: #007bff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            transition: background-color 0.3s ease;
            margin-bottom:10px;
        }
        .btn-primary:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center mb-4">{{ form.vars.value.id ? 'Edit' : 'Add' }} Product</h1>
    {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.price) }}
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.photo) }}
            {{ form_widget(form.photo, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary">{{ form.vars.value.id ? 'Update' : 'Add' }} Product</button>
        </div>
    {{ form_end(form) }}
</div>
{% endblock %}
