<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}EasyCubi{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/glitch.css') }}">
        <style>
            body {
                background: white;
                color: black;
            }
            .navbar {
                border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    font-size: 1.2em;
}
            a {
                color: white;
            }
            .mb-3 a {
                color: red;
            }
            
            .navbar-custom {
                background-color: #000; 
                color: #fff; 
            }
            .navbar-custom .navbar-brand,
            .navbar-custom .nav-link {
                color: #fff;
            }
            .navbar-custom .navbar-brand:hover,
            .navbar-custom .nav-link:hover {
                color: #ddd; 
            }
        </style>
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom w-100">
        <a class="navbar-brand" href="{{ path('app_index')}}">
            <img src="{{ asset('images/logo.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Logo">
            EasyCubi
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_index')}}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_affiche_produit')}}">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Logout ({{ app.user.nom }})</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">Register</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{{path('app_cart')}}">
                        <img src="{{ asset('images/cart.png') }}" width="30" height="30" class="d-inline-block align-top" alt="Cart">
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container mt-5">
        {% block body %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
